@model ExpenseManagement.Core.ViewModels.ExpenseCartViewModel


<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>
<h2>Your cart</h2>
<table id="cartTable" class="table">
    <thead>
    <tr>
        <th class="=text-center">Date</th>
        <th class="text-left">Description</th>
        <th class="text-right">Amount</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.Cart.Lines)
    {
        <tr>
            <td class="text-left">@line.ExpenseDate</td>
            <td class="text-left">@line.Description</td>
            <td class="text-right">@line.Amount.ToString("c")</td>
            @*<td>
                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {
                    @Html.Hidden("ProductId", line.Product.ProductID)
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <input class="btn btn-sm btn-warning"
                           type="submit" value="Remove" />
                }
            </td>*@
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2" class="text-right">Total:</td>
        <td class="text-right">
            @Model.Cart.ComputeTotalValue().ToString("c")
        </td>
    </tr>
    </tfoot>
</table>
<div class="text-center">
@using (Html.BeginForm("List", "Expense"))
{       
    <div class="form-group">
        @Html.TextBox("Description")
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Send</button>
}
</div>