@model IEnumerable<ExpenseManagement.Core.Models.VPExpenseItem>

@{
    ViewBag.Title = "Details";
    float total = 0;
}

<h2>Details</h2>


<style>
    .modal-dialog {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width:500px;
        height:300px;
    }
    #cartTable td {
        vertical-align: middle;
    }
</style>
<h2>Your cart</h2>
<table id="cartTable" class="table">
    <thead>
    <tr>
        <th class="=text-center">Date</th>
        <th class="text-left">Description</th>
        <th class="text-right">Price</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model)
    {
        total=total+line.Amount;
        <tr>
            <td class="text-left">@line.ExpenseDate</td>
            <td class="text-left">@line.Description</td>
            <td class="text-right">@line.Amount.ToString("c")</td>
               
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2" class="text-right">Total:</td>
        <td class="text-right">
            @total.ToString("c")
        </td>
    </tr>
    </tfoot>
</table>
@*<table class="text-center">
    <tr>
        <td>*@
<div class="bs-example">
    <!-- Button HTML (to Trigger Modal) -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                @using (Html.BeginForm("SendExpense", "Manager", new { id = TempData["id"] }))
                {
                    @Html.ValidationSummary()
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">Approve</button>
                }
            </div>
            <div class="col-sm-4">       
                <a href="#myModal" class="btn  btn-danger" data-toggle="modal">Reject</a>
            </div>
        </div>
    </div>
               
      
            <!-- Modal HTML -->
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Rejection Comment</h4>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("Reject", "Manager", new { id = TempData["id"] }))
                            {

                                @Html.ValidationSummary()
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.TextArea("rejectioncomment")
                                </div>


                                <button type="submit" class="btn btn-danger">Reject</button>

                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
</div>





        @*</td>
        <td>*@
           
           
        @*</td>
    </tr>
</table>*@